.Wrapper {
    display: flex;
}

.label {
    margin-right: 5px;
}

.Select {
    padding: 2px;
    padding-right: 10px;
    background: none;
    outline: none;
    color: var(--text-color); 
    border: 1px solid var(--text-color);
}

.option {
    color: var(--text-color);
    background: var(--light-bg-color);
    border-radius: 0 ;
}