.sidebar {
	display: flex;
    flex-direction: column;
	align-items: center;
	background: var(--light-bg-color);
	height: calc(100vh - var(--navbar-height));
	position: relative;
	transition: .4s width;
	width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	border-radius: 32px;
	transition: all linear .2s;
}

.switchers {
	bottom: 20px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.lang {
	margin-left: 20px;
}

.links {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}

.collapsed {
	--sidebar-width: 40px;

	.switchers {
		flex-direction: column;
	}

	.lang {
		margin: 0;
	}

	.logo {
		visibility: hidden;
	}
}


.logo {
    max-width: 180px;
	max-height: var(--logo-h);
	margin-top: 20px;
    stroke: var(--icon-color);
    fill: none;
	text-align: center;
}

.collapseBtn {
	position: absolute;
	color: var(--icon-color);
	bottom: calc(50% + 20px); // Calc with button height
	right: 0;
}