@use 'sass:color';
.link {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 10px;
	height: 32px;
	transition: .3s all;
	text-decoration: none;
	border-left: 2px solid transparent;

	&:hover {
		
		background: var(--sidebar-hover);
		color: var(--icon-color);
		fill: var(--icon-color);
		border-left: 2px solid var(--icon-color);
	}
	svg {
		fill: var(--icon-color);
	}
}

.linkTitle {
	margin-left: 10px;
	font: var(--font-xl);
	opacity: 1;
	white-space: nowrap;
}


.collapsed {
	&.link {
		padding: 0 1px;
	}

	.linkTitle {
		opacity: 0;
		width: 0;
		height: 0;
	}
}
