.Skeleton {
    background-image: var(--skeleton-loading);
    fill: var(--skeleton-content);
    background-size: 400% 100%;
    animation-name: ant-skeleton-loading;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    box-shadow: 0 2px 10px 0 var(--skeleton-shadow);
  }
  
@keyframes ant-skeleton-loading {
    0% {
      background-position:100% 50%;
    }
    
    100% {
      background-position:0 50%;
    }
}

.Skeleton ~.Skeleton {
    margin-top: 15px;
}