.dark {
    --bg-color: #0a0a4d;
    --inverted-bg-color: #dedee7;
    --primary-color: #e6eee6;
    --secondary-color: rgb(4 163 12);
    --inverted-primary-color:  #041a96;
    --inverted-secondary-color:  #4729f3;

}