.app_green_theme {
    --bg-color: #F4FBF7;
    --inverted-bg-color: #22ae58;
    --secondary-color: #F4FBF7;
    --primary-color: #1C8D3F;
    --inverted-primary-color:  #F4FBF7;
    --inverted-secondary-color:  #0b0408;

}