.app_light_theme {
  --bg-color: #dedee7;
  --inverted-bg-color: #0a0a4d;
  --primary-color: #041a96;
  --secondary-color: #4729f3;
  --inverted-primary-color:#e6eee6;
  --inverted-secondary-color:  rgb(4 163 12);

}