.PageLoader {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



.loadingio-spinner-spin-h7mi0rpdvw {
  margin: auto;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
}