.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.inpit {
    margin-top: 10px;
}

.error,
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}